# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Logs
logs/
*.log
*.tmp

# System files
.DS_Store
Thumbs.db

# Transpiled / build outputs
dist/
build/
coverage/
.tmp/

# Git
.git/
.gitignore

# Docker
Dockerfile*
docker-compose*